{# templates/piece/list.html.twig #}

{% block list %}
    <td>{{ entity.getTypePieceId() }}</td>
    <td>{{ entity.getEtage() }}</td>
    <<td>{{ entity.getTypeFinitionId() }}</td>
    <<td>{{ entity.getTypeCouleurIdMur() }}</td>
    <<td>{{ entity.getTypeCouleurIdPlafond() }}</td>
    <<td>{{ entity.getChantierId() }}</td>
{% endblock %}
