{# templates/piece/list.html.twig #}

{% block list %}
    <td>{{ entity.getTypeTraitement() }}</td>
    <td>{{ entity.getTypeFinitionId() }}</td>
    <<td>{{ entity.getTypeCouleurId() }}</td>
    <<td>{{ entity.getPieceId() }}</td>
    <<td>{{ entity.getTypeElementId() }}</td>
{% endblock %}
