<!DOCTYPE html>
<html>
<head>
    <title>Tâches de l'élément</title>
</head>
<body>
    <h1>Tâches pour l'élément</h1>
    <ul>
        {% for tache in taches %}
            <li>
                {{ tache.ordre }}. {{ tache.tache_nom }} ({{ tache.statut }})
                {% if tache.statut == 'à faire' %}
                    <a href="/tache/start/{{ tache.id }}">Démarrer</a>
                {% elseif tache.statut == 'en cours' %}
                    <a href="/tache/finish/{{ tache.id }}">Terminer</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
