{# templates/generic/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des {{ name }}{% endblock %}

{% block body %}
    <h1>Liste des {{ name }}</h1>
    <a href="/{{ entityName }}/create">Créer un(e) {{ name }}</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                {% block list_header %}{% endblock %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.getId() }}</td>
                    {% block list %}{% endblock %}
                    <td>
                        <a href="/{{ entityName }}/{{ entity.getId() }}">Voir</a>
                        <a href="/{{ entityName }}/{{ entity.getId() }}/update">Modifier</a>
                        <a href="/{{ entityName }}/{{ entity.getId() }}/delete" onclick="return confirm('Êtes-vous sûr ?')">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun(e) {{ name }} trouvé(e).</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Retour à l'accueil</a>
{% endblock %}
