{# templates/generic/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails du {{ entityName }}{% endblock %}

{% block body %}
    <h1>Détails du/de la {{ entityName }}</h1>
    <p>ID : {{ entity.getId() }}</p>
    <p>Libellé : {{ entity.getLabel() }}</p>
    {# Inclut le template spécifique pour les détails de l'entité #}
    {% include template ~ '/show.html.twig' %}

    <a href="/{{ entityName }}/{{ entity.getId() }}/update">Mettre à jour</a>
    <a href="/{{ entityName }}/{{ entity.getId() }}/delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce(tte) {{ entityName }} ?');">Supprimer</a>
    <a href="/{{ entityName }}">Retour à la liste</a>
{% endblock %}
